.tabrow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.tab {
   background: none;
  transition: background-size 400ms;
}

.tab:hover {
  cursor: pointer;
}

.selected {
    background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
    transform: 0.4s;
    transition: background-size 400ms;

    background-size: 0 0.1em, 100% 0.1em;
}