<nav>
    <ul class="nav">
        <li><a routerLink="/home" routerLinkActive="page">Home</a></li>
        <li (mouseenter)="showDropDown()">
            Genres
            @if(dropDownIsShown) {
            <ul  class="nav__genres" (mouseleave)="hideDropDown()"  >
                
                    @for(genre of genres$?.genres; track genre.id) {
                        <li class="nav__genre" (click)="navigateGenrePage(genre.id)">{{genre.name}}</li>
                        }
                            
                    </ul>
                }
        </li>
        <li><a routerLink="/login" routerLinkActive="page">Login</a></li>
        <li><a routerLink="/account"  routerLinkActive="page">About</a></li>
        <li><a routerLink="/account" routerLinkActive="page">   <i class="fa-solid fa-user"></i> Account </a></li>
     
    </ul>
</nav>