<main>
    <div class="home">
        @defer() 
        {
        <div [formGroup]="inputForm">
            <input class="search"placeholder="search" formControlName="search"  />
        </div>
     
        <div class="sort">
        <div class="dropdown">
            <form [formGroup]="sortFormGroup">
                <p>Filter by</p>
                <select name="filter" id="movie-filter" formControlName="sortingFilter">
                    <option selected="true">---</option>
                    <option value="name ascending"> Name ASC</option>
                    <option value="name descending"> Name DESC</option>
                    <option value="date ascending"> date ascending </option>
                    <option value="date descending"> date descending </option>
                    <option value="rating"> rating</option>
                </select>
            </form>
        </div>
        <app-tabdivider (select)="toggleDataType()" ></app-tabdivider>
    </div>
            <div class="movies">
        @for( movie of results$?.results; track movie.id) {
            <div class="movie__card" (click)="navigateMovie(movie.id)">
                <img class="movie__image" [src]="getPoster(movie.poster_path)" loading="lazy" />
                <h1 class="movie__header">{{movie.title}} {{movie.name}}</h1>
               <p>Release year {{movie?.release_date}} </p >
            </div>
        } 
    </div>
}   @loading(minimum 1s) {
    <app-spinner></app-spinner>
}
    </div>
</main>