@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.home {
    color: #e28743;
    background: #111;
    padding:2rem;
    background-size: cover;

}

.filter {
    padding-bottom: 1.5rem;
}

.searchtext {
    color:#e28743
}
.movies {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 4rem;

    @include media($sm, $md) {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
}

.search {
    border-radius: 1rem;
    width: 10%;
    height: 2rem;
    border: transparent;

    &:focus {
        border: red;
        align-self: center;
        outline: yellow;
        transition: 0.7s;
    }
}


.sort {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-evenly;
}

.movie {
    &__card {
        width: 15rem;
        background: white;
        border-radius: 0.25rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: 0.5s;
        &__image {
            img {
                height: 20rem;
                width: 20rem;
                vertical-align: middle;
                height: auto;
                width: auto;
                max-inline-size: 100%;
                block-size: auto;
        
            }
        }
        &__header {
            overflow: inherit;
        text-overflow: ellipsis;
        }
        &:hover {
            transform: translateY(-20px);
            cursor: pointer;
        }
    }
}


